@import '@/assets/sass/public.scss'; // 公共样式
@mixin font_c{
    font-size: 14px;
    color: #333;
}
.city {
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ebebeb;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow-y: auto;
    .city-title {
        @include font_c;
        padding-left: 15px;
        line-height: 30px;
    }
    .city-list {
        background-color: #fff;
    }
}
